<div class="row">
    <div class="col-md-12">
        <h4>Explore More Reports</h4>
        <div class="list-group">
            {% if not request.resolver_match.view_name == 'analytics:dashboard' %}
                <a href="{% url 'analytics:dashboard' %}" class="list-group-item list-group-item-action">Dashboard Overview</a>
            {% else %}
                <a href="{% url 'analytics:dashboard' %}" class="list-group-item list-group-item-action active" aria-current="true">Dashboard Overview</a>
            {% endif %}
            
            {% if not request.resolver_match.view_name == 'analytics:sales_report' %}
                <a href="{% url 'analytics:sales_report' %}" class="list-group-item list-group-item-action">Sales Report</a>
            {% else %}
                <a href="{% url 'analytics:sales_report' %}" class="list-group-item list-group-item-action active" aria-current="true">Sales Report</a>
            {% endif %}
            
            {% if not request.resolver_match.view_name == 'analytics:customer_insights' %}
                <a href="{% url 'analytics:customer_insights' %}" class="list-group-item list-group-item-action">Customer Insights</a>
            {% else %}
                <a href="{% url 'analytics:customer_insights' %}" class="list-group-item list-group-item-action active" aria-current="true">Customer Insights</a>
            {% endif %}
            
            {% if not request.resolver_match.view_name == 'analytics:product_performance' %}
                <a href="{% url 'analytics:product_performance' %}" class="list-group-item list-group-item-action">Product Performance</a>
            {% else %}
                <a href="{% url 'analytics:product_performance' %}" class="list-group-item list-group-item-action active" aria-current="true">Product Performance</a>
            {% endif %}
            
            {% if not request.resolver_match.view_name == 'analytics:marketing_analysis' %}
                <a href="{% url 'analytics:marketing_analysis' %}" class="list-group-item list-group-item-action">Marketing Analysis</a>
            {% else %}
                <a href="{% url 'analytics:marketing_analysis' %}" class="list-group-item list-group-item-action active" aria-current="true">Marketing Analysis</a>
            {% endif %}
            
            {% if not request.resolver_match.view_name == 'analytics:website_traffic' %}
                <a href="{% url 'analytics:website_traffic' %}" class="list-group-item list-group-item-action">Website Traffic</a>
            {% else %}
                <a href="{% url 'analytics:website_traffic' %}" class="list-group-item list-group-item-action active" aria-current="true">Website Traffic</a>
            {% endif %}
        </div>
    </div>
</div>
